body {
  background:
linear-gradient(#000000, #000000),
url("");
background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center;
  background-size: cover;
}
body, button{
  text-shadow: 0px 0px 30px rgb(0, 0, 0);

}
button{
    font-family: 'potato', sans-serif;
    font-size: 1.2em;
  }
  button {
    padding: 30px 70px;
    outline: none;
    border: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #000000;
    cursor: pointer;
    color :#d0ccd3
  }
  button:hover{
    background-color: #0c0c0e;
  transform: translateY(-20px);
  }
  button { 
  transition: all 0.3s ease 0.1s;
}
button{
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.486);
  }

  header { text-align: center }
  body { text-align: center }
  header {
    color:rgb(255, 255, 255)
}
@font-face {
    font-family: 'person';
    src: url(fonts/person.ttf);
}
@font-face {
    font-family: 'potato';
    src: url(fonts/potato.ttf);
}
